<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p>
          <a class="navbar-brand" href="/">{{ site.title }}<br />
            <small class="navbar-subtitle">{{ site.subtitle }}</small>
          </a>
        </p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if page.url == "/members/" %}
            <li class="active"><a href="/members/">Members <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="/members/">Members</a></li>
          {% endif %}

          {% if page.url contains "/seminars/" %}
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seminars <span class="sr-only">(current)</span><span class="caret"></span></a>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seminars <span class="caret"></span></a>
          {% endif %}
            <ul class="dropdown-menu" role="menu">
              {% for seminar in site.data.seminars %}
                <li><a href="{{ seminar.link }}">{{ seminar.title }}</a></li>
              {% endfor %}
            </ul>
          </li>

          {% if page.url contains "/projects/" %}
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="sr-only">(current)</span><span class="caret"></span></a>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          {% endif %}

            <ul class="dropdown-menu" role="menu">
              {% for project_category in site.data.projects %}
                <li class="dropdown-header">{{ project_category.category_title }}</li>
                {% for project in project_category.projects %}
                  <li><a href="{{ project.link }}">{{ project.name }}</a></li>
                {% endfor %}
                {% unless forloop.last %}
                  <li role="separator" class="divider"></li>
                {% endunless %}
              {% endfor %}
            </ul>
          </li>

          {% if page.url == "/contact/" %}
            <li class="active"><a href="/contact/">Contact <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="/contact/">Contact</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
